[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"
click = "*"
aiofiles = "*"

[dev-packages]
pytest = "*"
ipython = "*"
ipdb = "*"
rich = "*"
pytest-cov = "*"
pytest-asyncio = "*"
autopep8 = "*"
